{{- if and .Values.ingress.enabled (eq .Values.ingress.class "traefik") (not .Values.global.kong.enabled) }}
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ include "czertainly.fullname" . }}-strip-prefix
  labels:
    {{- include "czertainly.labels" . | nindent 4 }}
spec:
  stripPrefix:
    prefixes:
      - /administrator
      {{- if .Values.global.messaging.remoteAccess }}
      - /mq
      {{- end }}
      {{- if .Values.global.utils.enabled }}
      - /utils
      {{- end }}
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ include "czertainly.fullname" . }}-login-rewrite
  labels:
    {{- include "czertainly.labels" . | nindent 4 }}
spec:
  replacePathRegex:
    regex: "^/(login|logout)(.*)"
    replacement: "/api/$1$2"
---
{{- $hostName := pluck "hostName" .Values.global .Values | compact | first }}
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ include "czertainly.fullname" . }}-headers
  labels:
    {{- include "czertainly.labels" . | nindent 4 }}
spec:
  headers:
    customRequestHeaders:
      X-Forwarded-Proto: "https"
      X-Forwarded-Host: "{{ $hostName }}"
      X-Forwarded-Port: "443"
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ include "czertainly.fullname" . }}-pass-tls-client-cert
  labels:
    {{- include "czertainly.labels" . | nindent 4 }}
spec:
  passTLSClientCert:
    pem: true
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ include "czertainly.fullname" . }}-fix-cert-header
  labels:
    {{- include "czertainly.labels" . | nindent 4 }}
spec:
  plugin:
    rewriteHeaders:
      rewrites:
        request:
          # strip PEM headers and footers
          - header: "X-Forwarded-Tls-Client-Cert"
            regex: "^.*-----BEGIN%20CERTIFICATE-----%0A(.*)%0A-----END%20CERTIFICATE-----.*$"
            replacement: "$1"
          # decode URL-encoded base64: + / =
          - header: "X-Forwarded-Tls-Client-Cert"
            regex: "%2B"
            replacement: "+"
          - header: "X-Forwarded-Tls-Client-Cert"
            regex: "%2F"
            replacement: "/"
          - header: "X-Forwarded-Tls-Client-Cert"
            regex: "%3D"
            replacement: "="
          # remove newlines and whitespace
          - header: "X-Forwarded-Tls-Client-Cert"
            regex: "%0A"
            replacement: ""
          - header: "X-Forwarded-Tls-Client-Cert"
            regex: "%0D"
            replacement: ""
          - header: "X-Forwarded-Tls-Client-Cert"
            regex: "%20"
            replacement: ""
          - header: "X-Forwarded-Tls-Client-Cert"
            regex: "%09"
            replacement: ""
{{- end }}
