{{- if not .Values.global.config.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: caching-secret-{{ .Chart.Name | lower }}
  labels:
    {{- include "caching-redis.labels" . | nindent 4 }}
data:
  redis.password: {{ pluck "password" .Values.global.redis .Values.redis | compact | first | default "" | b64enc | quote }}
{{- end }}
