{{- $additionalPorts := (include "proxy.customization.ports" $) }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "proxy.fullname" . }}-service
  labels:
    {{- include "proxy.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    {{- if $additionalPorts }}
    {{- $additionalPorts | nindent 4 }}
    {{- end }}
  selector:
    {{- include "proxy.selectorLabels" . | nindent 4 }}
