{{- $additionalInitContainers := (include "proxy.customization.initContainers" $) }}
{{- $additionalSidecarContainers := (include "proxy.customization.sidecarContainers" $) }}
{{- $additionalVolumes := (include "proxy.customization.volumes" $) }}
{{- $additionalVolumeMounts := (include "proxy.customization.volumeMounts" $) }}
{{- $additionalEnv := (include "proxy.customization.env" $) }}
{{- $additionalEnvFrom := (include "proxy.customization.envFrom" $) }}
{{- $additionalPorts := (include "proxy.customization.ports" $) }}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "proxy.fullname" . }}-deployment
  labels:
    {{- include "proxy.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "proxy.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "proxy.selectorLabels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      annotations:
        checksum/configmap: {{ include (print $.Template.BasePath "/proxy-configmap.yaml") . | sha256sum }}
        checksum/secret: {{ include (print $.Template.BasePath "/proxy-secret.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- include "proxy.imagePullSecrets" . | indent 6 }}
      {{- if .Values.podSecurityContext }}
      securityContext: {{- .Values.podSecurityContext | toYaml | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "proxy.serviceAccountName" . }}

      {{- if $additionalInitContainers }}
      initContainers:
        {{- $additionalInitContainers | nindent 8 }}
      {{- end }}

      containers:
        - name: proxy
          image: {{ include "proxy.image" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if .Values.image.command }}
          command: {{- include "proxy.image.command" . | nindent 12 }}
          {{- end }}
          {{- if .Values.image.args }}
          args: {{- include "proxy.image.args" . | nindent 12 }}
          {{- end }}

          envFrom:
            - configMapRef:
                name: {{ include "proxy.fullname" . }}-configmap
            {{- if $additionalEnvFrom }}
            {{- $additionalEnvFrom | indent 12 }}
            {{- end }}

          env:
            # Sensitive values from secret
            {{- if .Values.amqp.password }}
            - name: PROXY_AMQP_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "proxy.fullname" . }}-secret
                  key: amqpPassword
            {{- end }}
            {{- if .Values.amqp.entraId.clientSecret }}
            - name: PROXY_AMQP_ENTRAID_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ include "proxy.fullname" . }}-secret
                  key: entraIdClientSecret
            {{- end }}
            {{- if $additionalEnv }}
            {{- $additionalEnv | nindent 12 }}
            {{- end }}

          ports:
            - name: http
              containerPort: {{ .Values.http.port }}
              protocol: TCP
            {{- if $additionalPorts }}
            {{- $additionalPorts | nindent 12 }}
            {{- end }}

          {{- if .Values.image.securityContext }}
          securityContext: {{- .Values.image.securityContext | toYaml | nindent 12 }}
          {{- end }}

          {{- if .Values.image.probes.liveness.enabled }}
          livenessProbe:
            {{- if .Values.image.probes.liveness.custom }}
            {{- toYaml .Values.image.probes.liveness.custom | nindent 12 }}
            {{- else }}
            httpGet:
              path: /health
              port: http
            {{- end }}
            initialDelaySeconds: {{ .Values.image.probes.liveness.initialDelaySeconds }}
            timeoutSeconds: {{ .Values.image.probes.liveness.timeoutSeconds }}
            periodSeconds: {{ .Values.image.probes.liveness.periodSeconds }}
            successThreshold: {{ .Values.image.probes.liveness.successThreshold }}
            failureThreshold: {{ .Values.image.probes.liveness.failureThreshold }}
          {{- end }}

          {{- if .Values.image.probes.readiness.enabled }}
          readinessProbe:
            {{- if .Values.image.probes.readiness.custom }}
            {{- toYaml .Values.image.probes.readiness.custom | nindent 12 }}
            {{- else }}
            httpGet:
              path: /ready
              port: http
            {{- end }}
            initialDelaySeconds: {{ .Values.image.probes.readiness.initialDelaySeconds }}
            timeoutSeconds: {{ .Values.image.probes.readiness.timeoutSeconds }}
            periodSeconds: {{ .Values.image.probes.readiness.periodSeconds }}
            successThreshold: {{ .Values.image.probes.readiness.successThreshold }}
            failureThreshold: {{ .Values.image.probes.readiness.failureThreshold }}
          {{- end }}

          {{- if .Values.image.probes.startup.enabled }}
          startupProbe:
            {{- if .Values.image.probes.startup.custom }}
            {{- toYaml .Values.image.probes.startup.custom | nindent 12 }}
            {{- else }}
            httpGet:
              path: /health
              port: http
            {{- end }}
            initialDelaySeconds: {{ .Values.image.probes.startup.initialDelaySeconds }}
            timeoutSeconds: {{ .Values.image.probes.startup.timeoutSeconds }}
            periodSeconds: {{ .Values.image.probes.startup.periodSeconds }}
            successThreshold: {{ .Values.image.probes.startup.successThreshold }}
            failureThreshold: {{ .Values.image.probes.startup.failureThreshold }}
          {{- end }}

          {{- if .Values.image.resources }}
          resources: {{- toYaml .Values.image.resources | nindent 12 }}
          {{- end }}

          volumeMounts:
            - mountPath: /tmp
              name: ephemeral
            {{- if $additionalVolumeMounts }}
            {{- $additionalVolumeMounts | nindent 12 }}
            {{- end }}

        {{- if $additionalSidecarContainers }}
        {{- $additionalSidecarContainers | nindent 8 }}
        {{- end }}

      volumes:
        - name: ephemeral
          {{- include "proxy.ephemeralVolume" . | indent 10 }}
        {{- if $additionalVolumes }}
        {{- $additionalVolumes | nindent 8 }}
        {{- end }}

      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
