{{- $redisEnabled := or .Values.cachingService.enabled .Values.global.redis.external.enabled }}
{{- if $redisEnabled }}
apiVersion: v1
kind: Secret
metadata:
  name: caching-secret
data:
  {{- if .Values.global.redis.external.enabled }}
  redis.password: {{ .Values.global.redis.password | default "" | b64enc | quote }}
  {{- else }}
  redis.password: {{ pluck "password" .Values.global.redis .Values.cachingService.redis | compact | first | default "" | b64enc | quote }}
  {{- end }}
{{- end }}
