{{- $redisEnabled := or .Values.cachingService.enabled .Values.global.redis.external.enabled }}
{{- if $redisEnabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: caching-configmap
data:
  {{- if .Values.global.redis.external.enabled }}
  redis.host: {{ .Values.global.redis.external.host | quote }}
  redis.port: {{ .Values.global.redis.external.port | quote }}
  {{- else }}
  redis.host: {{ printf "%s-%s" .Release.Name (.Values.cachingService.nameOverride | default "caching-redis") | quote }}
  redis.port: {{ .Values.cachingService.service.port | default 6379 | quote }}
  {{- end }}
{{- end }}
